.outerNav {
    width: 100vw;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90.38deg, rgba(11, 81, 9, 0.8) -0.69%, rgba(9, 108, 19, 0.704) 100.45%);
}

.innerNav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rightContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}

.menuItem {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 17px;
    color: white;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-right: 15px;
}
.menuItem:hover{
    cursor: pointer;
}

.langContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.langContainer:hover{
    cursor: pointer;
}

.langAvatar {
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.langCode {
    color: white;
    font-size: small;
}

.downBtn {
    height: 100%;
    margin-right: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactUsBtnContainer {
    margin: 0px 10px;
}

.contactUsBtn {
    width: 100px;
    font-size: small;
    border: none;
    height: 35px;
    color: #43A1F6;
    ;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgb(53, 53, 53);
    font-weight: 600;
}
.contactUsBtn:hover{
    cursor: pointer;
    box-shadow: none;
}

.linesIconContainer {
    color: white;
    display: none;
    height: 100%;
    justify-content: center;
    align-items: center;
}



@media only screen and (max-width: 990px) {
    .outerNav {
        width: 100vw;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(90.38deg, rgba(11, 81, 9, 0.8) -0.69%, rgba(9, 108, 19, 0.704) 100.45%);
    }

    .innerNav {
        width: 95%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logoContainer img {
        height: 30px;
    }

    .rightContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menuContainer {
        display: none !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 30px;
    }

    .menuItem {
        display: none !important;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 17px;
        color: white;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        margin-right: 15px;
    }

    .langContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0px;
    }

    .langAvatar {
        background-color: white;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
    }

    .langCode {
        color: white;
        font-size: 12px;
    }

    .downBtn {
        height: 100%;
        margin-right: 5px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contactUsBtnContainer {
        display: none;
        margin: 0px 10px;
    }

    .contactUsBtn {
        width: 80px;
        font-size: 10px;
        border: none;
        height: 30px;
        color: #43A1F6;
        ;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0px 2px 5px 0px rgb(53, 53, 53);
        font-weight: 600;
    }

    .linesIconContainer {
        color: white;
        display: flex;
    }
}